*.rbc
capybara-*.html
/db/*.sqlite3
/public/system
/public/tenants
/public/test
/public/packs
/public/packs-test
/public/assets
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.tags
.tags1
/app/assets/stylesheets/tenants/*/*

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
#config/initializers/secret_token.rb
#config/secrets.yml

## Environment normalisation:
/.bundle
/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/vendor/assets/bower_components
*.bowerrc
bower.json

.idea/*
*.iml
mysocket*

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

node_modules
/yarn-error.log

.byebug_history

